<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">My Survey</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">
                        <div>
                            <i class="fas fa-home fa-lg mb-1"></i>
                        </div>
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/survey-list">
                        <div>
                            <i class="fa-solid fa-square-poll-horizontal"></i>
                        </div>
                        Available surveys
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/survey-list">
                        <div>
                            <i class="fa-solid fa-file-circle-plus"></i>
                        </div>
                        Create Survey
                    </a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>