<!DOCTYPE html>
<html lang="en">
    {{!-- head partials --}}
    {{>head title="Login"}}
    <body class="container">
        {{!-- navbar partials --}}
        {{>navbar}}
        {{!-- home page content --}}
        <h1>this is Login page content</h1>
        {{!-- footer partials --}}
        {{>footer}}
    </body>
</html>