<!DOCTYPE html>
<html lang="en">
{{!-- head partials --}}
{{>head title="Home"}}

<body class="container">
    {{!-- navbar partials --}}
    {{>navbar}}
    {{!-- Survay-list page content --}}
    
    </main>
    {{!-- footer partials --}}
    {{>footer}}
</body>

</html>